{{define "navbar"}}
<nav class="nav navbar navbar-expand-lg">
    <div class="container-fluid">
     <a class="navbar-brand" href="#">LensLocked.com</a>
            <div class="navbar-nav">
                <a class="nav-item" href="/">Home</a>
                <a class="nav-item" href="/contact">Contact</a>
                <a class="nav-item" href="/login">Log In</a>
                <a class="nav-item" href="/signup">Sign up</a>
            </div>
    </div>
</nav>
{{end}}
